@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --primary: #ff3700;
}

body {
    background-color: black; 
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10;
}

.logo {
    font-size: 40px;
    color: white;
    letter-spacing: 1px;
    font-weight: 800;
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a {
    color: var(--primary); 
}

.search{
  position:relative;
  width:300px;         
  height:40px;
}
/* input field */
.search input{
  width:100%;
  height:100%;
  border:1px solid rgba(255,255,255,.4);
  border-radius:4px;
  background:rgba(0,0,0,.6);  
  color:#fff;
  font-size:16px;
  padding-left:42px;          
  outline:none;
  backdrop-filter:blur(6px);  
}


.search input::placeholder{
  color:#ccc;
}

/* search icon */
.search i{
  position:absolute;
  top:50%;
  left:14px;       
  transform:translateY(-50%);
  color:#fff;
  font-size:18px;
  pointer-events:none; 
}


.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('/titanicbg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    
}

.content {
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.content.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.movie-title {
    max-width: 250px;
}

.banner .content h4 {
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
}

.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner .content h4 span:last-child {
    border-right: none;
}

.banner .content h4 span i {
    background-color: red;
    color: white;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: white;
    margin: 10px 0 20px;
}

.banner .content .button a {
    position: relative;
    display: inline-flex; 
    align-items: center; 
    margin-right: 10px;
    background: #ff3700;
    color: white;
    padding: 8px 20px; 
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 4px;
}

.banner .content .button a i {
    margin-right: 8px; 
    font-size: 14px; }

.banner .content .button a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.banner .content .button a:hover:nth-child(2) {
    background: var(--primary);
}


.banner .carousel-box {
    position: relative;
    min-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.carousel {
    position: relative;
    height: 550px;
    perspective: 1500px;
}

.carousel .carousel-item {
    width: 250px;
    cursor: pointer;
}

.carousel .carousel-item img {
    max-width: 235px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-100px);
    object-fit: cover;
    object-position: center;
}

.play {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer !important;
    transition: 0.3s;
}

.play i {
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer !important;
}

.play:hover {
    color: var(--primary);
}

.sci {
    position: absolute;
    bottom: 50px;
    right: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sci a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.sci a:hover {
    color: var(--primary);
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden; 
    opacity: 0;
    transition: 0.5s;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    max-width: 980px;
    outline: none;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
}
